{% extends 'components/navbar.html' %} 

{% block content %}

{% if request.user.is_authenticated %}
<div class="bg-success bg-opacity-25" style="height: 690px">
    <br> 
    <h2 class="text-center">Lista de Actividades</h2>
   
    <div class="container d-flex justify-content-center">
        <table class="table table-striped mt-3 justify-content-center">
            <tr>
                <th>Nombre</th>
                <th>Detalles</th>
                <th>Estado</th>
                <th>Imagen</th>
                {% if request.user.rol == 'ADMINISTRADOR' or request.user.rol == 'JEFE DE CUADRILLA' %}
                <th>Acciones</th>
                {% endif %}
            </tr>
            {% for actividad in actividades %}
            <tr>
                <td>{{ actividad.nombre_actividad }}</td>
                <td>{{ actividad.detalles }}</td>
                <td>{{ actividad.estado }}</td>
                <td><img src="{{ actividad.imagen.url }}" class="img-fluid" style="max-width: 150px; height: auto;">
                </td>
                {% if request.user.rol == 'ADMINISTRADOR' or request.user.rol == 'JEFE DE CUADRILLA' %}
                <td><a href="{% url 'editar_actividad' actividad.id %}" class="btn btn-primary btn-sm">Editar</a></td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    </div>

    {% if request.user.rol == 'ADMINISTRADOR' or request.user.rol == 'JEFE DE CUADRILLA' %}
    <a href="{% url 'actividad' %}" class="btn btn-success container d-flex justify-content-center">Agregar Actividad</a>
    
    {% endif %}
    {% else %}
    <div class="text-center  bg-success bg-opacity-25" style="height: 690px">
        <br>
        <h1>Por favor inicia sesion</h1>
        <a href="{% url 'login' %}" class="btn btn-primary">Iniciar sesion</a>

    </div>
    {% endif %}
</div>

{% endblock %}
